body{
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
margin:0;
padding:10px;
line-height: 1.5em;
background: #f0f0f0;
}

b{font-size: 110%;}
em{color: red;}


#topsection{
background: #af4141;
height: 60px; /*Height of top section*/
border-bottom: 2px dotted #ddd;
}

#topsection h1{
color: #fff;
margin: 0;
padding-top: 15px;
}

#contentwrapper{
padding-top: 10px;
float: left;
width: 100%;
background: #ffffff;
}

#contentcolumn{
margin-left: 200px; /*Set left margin to LeftColumnWidth*/
}

#contentcolumn div.settings table {
background: #f7f7f7;
}

#leftcolumn{
padding-top: 5px;
float: left;
width: 200px; /*Width of left column*/
margin-left: -100%;
background-color: #fff;
border-right: 2px dotted #ddd;
}

#leftcolumn div.leftmenu-item {
padding: 10px;
}

#leftcolumn div.leftmenu-item  ul{
list-style: none;
padding: 0;
margin: 0;
}

#leftcolumn div.leftmenu-item  li{
padding-top: 5px;
font-size: 95%;
}


#leftcolumn div.leftmenu-item h1 {
padding: 0;
margin: 0;
font-size: 100%;
font-weight: normal;
}

#leftcolumn div.settings {
padding: 10px;
background: #f7f7f7;
}

#leftcolumn div.setting1 h1 {
padding: 0;
margin: 0;
font-size: 100%;
font-weight: normal;
font-style: italic;
}

#chart {
margin-top:20px;
margin-left:20px;
margin-bottom:20px;
}

#footer{
border-top: 2px dotted #ddd;
clear: left;
width: 100%;
background: #f7f7f7;
color: #000;
text-align: center;
padding: 4px 0;
}

.innertube{
margin: 10px; /*Margins for inner DIV inside each column (to provide padding)*/
margin-top: 0;
}

